.header {
    font-size: 1.03em;
    justify-content: center;
    border-style: solid;
    border-color:#f6f2f1;
}

.header>div {
    flex-wrap: wrap;
}

.header,
.header>div {
    display: flex;
}

.item {
    display: inline-block;
    padding: 25px 15px;
}

.item:hover {
    background-color: #ff3f40;
}

@media(max-width:350px) {
    .item {
        padding: 25px 10px
    }
}

@media(min-width:1100px) {
    
}