/* todo >>> */
/* todo >>> додати адаптив      */
/* todo >>> */

.container {
    flex-direction: column;
}

.information {
    width: 350px;
}

.information>div>p {
    padding: 5px 0;
}

.personsContent,
.container,
.sotialNetwork,
.RestPersons {
    display: flex;
}

.personsContent {
    padding: 35px 0 0 10px;
    flex-wrap: wrap;
}

.photo>div img,
.falsePhoto>div {
    width: 230px;
    height: 294px;
    margin-right: 40px;
}

.personInformation_RestPersons a {
    color: #3f3f3f;
}

.sotialNetwork div {
    padding: 20px 13px;

    font-weight: 500;
}

.personPhoto>div img,
.falsePersonsPhoto>div,
.sotialNetwork div {
    position: relative;
}

.personPhoto>div img,
.falsePersonsPhoto>div {
    width: 130px;
    height: 130px;

}

.RestPersons {
    padding-top: 20px;
}

.personName {
    color: white;
    background-color: #312f30;
    text-align: center;
    padding: 5px 0;
    width:130px;
    position: relative;
    /* top: -28px; */
    opacity: 1;

    transition: top 4000ms;
    transition-timing-function:linear ;
}

.personName:hover{
    top:-28px;
}

@media(max-width:600px) {

    .information,
    .personData {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .information>div>p {
        width: 300px;
    }

    .photo>div img,
    .falsePhoto>div {
        margin-right: 0;
    }

    .RestPersons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:960px) {

    .container,
    .personsContent,
    .personInformation {
        align-items: center;
    }

    .information>div>div,
    .personData>div>div {
        text-align: center;
    }

    .personsContent,
    .personInformation {
        display: flex;
        flex-direction: column;
    }

    .personPhoto>div img,
    .falsePersonsPhoto>div {
        margin: 0 7.5px;
        left: -7.5px;
    }

    .personInformation_RestPersons {
        padding-top: 30px;
    }

    .personInformation>div>div>p {
        width: 300px;
    }
}

@media(min-width:960px) {

    .information>div>p {
        padding: 5px 0 0 10px;
    }

    .information>hr {
        margin-left: 10px;
    }

    .sotialNetwork div {
        left: -13px;
    }

    .personInformation_RestPersons {
        padding-top: 10px;
    }

    .personInformation>div>div>p {
        width: 450px;
    }
}